div{
    margin: 0 1200px 0 20px;
    padding: 10px 30px 10px 30px;
    border: 5px solid;
    border-color: purple;
    background-color: rgb(93, 217, 255);
    position: absolute;
}
.d1{left: 110px;
}
#d1{left: 250px;
}
.d2{left: 400px;
}
#d2{left: 540px;
}
.d3{left: 680px;
}